body{
		margin:none;
		padding:none;
	}

a{
  text-decoration: none;
}
/* header */

#header{
      height:120px;
      max-width:100%;
      background-color:lightblue;
      color:black;
      text-align: center;
      font-weight:bold;
      font-size:50px;
    }

span.info{
		font-weight:lighter;
		text-align:center;
		font-size:30px;
}

/* Main body of the webpage */

#main-body{
  max-width: 70%;
  border: 1px solid green;
  border-radius: 10px;
  padding: 10px 0 30px 0;
}

.cipher{
  color: black;
  text-align: center;
  padding: 5px;  
  max-width: 30%;
  border: 1px solid black;
  border-radius: 10px;
  diplay: inline-block;
}
.cipher:hover{
  background-color: lightgreen;
}
